@{
    ViewBag.Title = "Nums 1 ... " + ViewBag.Count;
}

<h1>@ViewBag.Title</h1>
<ul>
    @for (int i = 1; i <= ViewBag.Count; i++)
    {
        <li>@i</li>
    }
</ul>

<form asp-action="NumbersToN" method="post">
    <input type="number" id="count" name="count" placeholder="Number" value="3" required>
    <button type="submit">Submit</button>
</form>

