body {
    background: #e4e978;
    width: 700px;
}

article {
    background: #f2f4c0;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
    padding: 5px 15px;
}

section>article {
    font-style: italic;
    color: #5c6e91;
}