@media (max-width:600px) {
    .site-main {
        margin: 0px;
    }

    .site-navigation ul {
        display: none;
    }

    .site-logos {
        max-width: 600px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 600px;
    }

    .site-logos-container {
        min-width: 0px;
    }

    .site-logo:not(:last-child) {
        margin-right: 0px;
    }

    .site-logo {
        width: 200px;
    }

    .site-information-image {
       display: none;
    }

    .site-information {
        justify-content: center;
    }

    .site-information-text {
        text-align: center;
    }

    .entry-description {
        width: 100%;
        margin: 5px 0px;
        font-size: 18px;
    }

    .button-primary {
        width: 90px;
    }

    .entry-title {
        font-size: 8px;
    }

    .site-form form > p {
        flex-direction: column;
    }

    .site-form input {
        width: 100%;
    }

    .site-form button {
        margin: 0px auto;
        width: 120px;
    }

    .site-blog-container>h2 {
        font-size: 42px;
        padding: 0px 100px;
    }

    .site-posts {
        flex-direction: column;
        align-items: center;
    }

    .site-post {
        width: 70%;
    }

    .site-post>p {
        padding: 1.2rem;
    }

    .site-footer {
        flex-direction: column;
        align-items: center;
    }
}