html {
    font-family: Helvetica, sans-serif;
    margin: 50px;
}

nav {
    display: inline-block;
}

li {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 179, 0);
}

header>h1 {
    display: inline;
    font-size: 45px;
}

main>h1 {
    font-weight: 100;
}

header {
    border-bottom: 2px solid black;
}