h1 {
    font-size: 28px;
}

article>header>p {
    font-style: italic;
}

body {
    margin: 0px;
    padding: 0px;
    background: #CCCCCC;
}

section {
    margin-left: 20px;
}

p {
    font-size: 24px;
}