body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    background: white;
}

article {
    margin: 54px;
    padding: 36px;
    border-radius: 16px;
    color: white;
    text-indent: 40px;
    background: rgb(51, 102, 153);
}

h1{
    font-family: Georgia, serif;
}