@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to GameZone</b></h1>
    <p>The ultimate community for console game enthusiasts.</p>
    <img class="img-fluid" src="~/img/Picture1.png" alt="GameZone Welcome" style="max-width: 25%; height: auto; display: block; margin-left: auto; margin-right: auto" />
</div>

<div class="container mt-5" style="max-width: 60%;">
    <div id="iconicGamesCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner text-center">
            <div class="carousel-item active">
                <img src="~/img/CS.jpg" class="img-fluid" alt="Counter Strike" style="max-width: 16rem; height: auto; margin: auto;">
            </div>
            <div class="carousel-item">
                <img src="~/img/MK.jpg" class="img-fluid" alt="Mortal Kombat" style="max-width: 16rem; height: auto; margin: auto;">
            </div>
            <div class="carousel-item">
                <img src="~/img/MW.jpg" class="img-fluid" alt="Most Wanted" style="max-width: 16rem; height: auto; margin: auto;">
            </div>
        </div>
    </div>
</div>
